html{
    background-color:  #f7f7f7;
}

body{
    background-color: white;
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    color: rgb(104, 103, 103);
}

.container{
    width: 100%;
    min-height: 600px;
    padding: 50px;
    margin: 50px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    /* flex-wrap: wrap; */

}

header {
    background-color: grey;
    opacity: 80%;
    height: 100px;
    max-width: 1600px;
    width: 100%;
    position: fixed;
    display: flex;
    align-items: center;
    color: antiquewhite;
    z-index: 1;
}

header ul{
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    
}

header li{
    flex-direction: row;
    font-size: 25px;
    line-height: 2;
    margin: 20px;
    
}

header a{
    color: antiquewhite;
    text-decoration: none;
    
}

label{
    font-size: 25px;
    margin: 15px;
}

input[type=search]{
    height: 25px;
    width: 150px;
    border-radius: 5px;
}

input:hover{
    border: #2AA1E0 5px;
}

.search-field{
    margin-left: auto;
    margin-right: 30px;
}

.title{
    background-image: url(../Images/pinkhair.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    height: 100vh;
    /* box-sizing: border-box; */
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    font-family: 'Bebas Neue';
    font-size: 75px;
    font-weight: 700;
    color: white;
    margin: 50px;
}   

h2{
    font-family: 'Bebas Neue';
    font-size: 50px;
}

.what__content {
    display: flex;
    justify-content: space-between;
}


.info__what{
    max-width: 50%;
    min-height: 600px;
    width: 100%;
    margin:25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.imagewhat {
    max-width: 50%;
    height: auto;
    border-radius: 20px;
    padding: 15px;
    border: solid 2px #2AA1E0;
}

/* .info-container {
    /* display: inline-block; */
    /* max-height: 200px;
    max-width: 400px;
    padding: 5px;
    margin: 5px; */
    /* border: 5px solid grey; */
    /* box-sizing: border-box; */
    /* overflow: auto; */
 
.thumbnail{
    box-sizing: border-box;
    /* border: 1px solid #2AA1E0; */
    width: 450px;
    height: 450px;
    margin: 5px;
    padding: 10px;
    text-align: center;
    
}

.imagecontainer{
    width: 300px;
    height: 300px;
}

.icon{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

.icons{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.info__how{
    max-width: 600px;
    min-height: 600px;
    width: 100%;
    margin: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.info__content {
        width: 80%;
        height: 100%;
        margin-top: 20px;
    }


.content__how {
    display: flex;
    align-items: center;
    justify-content: space-evenly; 
}


.image__how{
    max-width: 400px;
    height: 400px;
    border-radius: 20px;
    padding: 15px;
    border: solid 2px #2AA1E0;
}

.whenimage{
    max-width: 500px;
    height: 300px;
    border-radius: 20px;
    padding: 15px;
    border: solid 2px #2AA1E0;
}


button{
    height: 70px;
    width: 150px;
    margin-left: 50px;
    border-radius: 15px;
    font-size: 18px;
    box-sizing: border-box;
    border: none;
    background-color: #2AA1E0;
    display: block;
}

.when__content{
    display: flex;
}

.info__when{
    max-width: 400px;
    min-height: 600px;
    width: 100%;
    margin:25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.team__info{
    max-width: 600px;
    min-height: 600px;
    width: 100%;
    margin:25px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

 a {
    text-decoration: none;
    color: inherit;
}

a:hover {
    color: #2AA1E0;
}

button:hover{
    background-color: lightblue;
    border: solid 2px #2AA1E0;
    box-shadow: 0 4px 8px 0;
    transition: all 1s ease-in-out;
    cursor:pointer
}

img:hover{
    animation: imagescale 4s ease infinite;
}

@keyframes imagescale{
    0% {transform: scale(1);}
    50% {transform: scale(1.2);}
    100% {transform: scale(1);}
}

input:hover{
    border: #2AA1E0 solid 2px;
}

footer{
    background-color: grey;
    opacity: 80%;
    height: 100px;
    max-width: 1600px;
    width: 100%;
    display: flex;
    align-items: center;
    color: antiquewhite;
}

footer ul{
    list-style: none;
    display: flex;
    
}

footer li{
    flex-direction: row;
    font-size: 15px;
    line-height: 2;
    margin: 20px;
    
}